name: docker-publish

on:
  push:
    branches:
      - "main"
      - "release/*"
    tags:
      - "v*.*.*"
jobs:
  docker:
    runs-on: ubuntu-latest
    environment: dockerhub
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          file: Dockerfile.nitro
          build-args: |
            RUST_TOOLCHAIN=1.50.0
          tags: |
            cryptocom/nitro-enclave-tmkms:latest
            cryptocom/nitro-enclave-tmkms:${{ steps.get_version.outputs.VERSION }}
