name: tmkms

on:
  push:
    branches: main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -Dwarnings

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt
          override: true
          profile: minimal
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install deps
        run: sudo apt-get update && sudo apt-get install protobuf-compiler
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: clippy
          override: true
          profile: minimal
      - run: cargo clippy --all -- -D warnings

  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          profile: minimal
      - name: Install cargo audit
        run: cargo install cargo-audit
      # TODO: unmaintained dependencies -- need to be fixed in upstream
      - run: >
          cargo audit --deny-warnings
          --ignore RUSTSEC-2020-0036
          --ignore RUSTSEC-2020-0016
          --ignore RUSTSEC-2019-0036
          --ignore RUSTSEC-2021-0064
  
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        crate:
          - tmkms-nitro-helper
          - tmkms-light-sgx-runner
          - tmkms-softsign
        rust:
          - nightly
        target:
          - x86_64-unknown-linux-gnu
    steps:
      - uses: actions/checkout@v1
      - name: Install deps
        run: sudo apt-get update && sudo apt-get install protobuf-compiler
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.target }}
          override: true
      - run: cargo build --target ${{ matrix.target }} -p ${{ matrix.crate }} --release
      - name: 'Tar files'
        run: cd target/x86_64-unknown-linux-gnu/release/ && tar -cvf tmkms-softsign.tar tmkms-softsign
        if: startsWith(matrix.crate, 'tmkms-softsign')
      - uses: actions/upload-artifact@v2
        if: startsWith(matrix.crate, 'tmkms-softsign')
        with:
          name: tmkms-softsign
          path: target/x86_64-unknown-linux-gnu/release/tmkms-softsign.tar
  build-sgx:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        crate:
          - tmkms-light-sgx-app
        rust:
          - nightly
        target:
          - x86_64-fortanix-unknown-sgx
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.target }}
          override: true
      - run: cargo build --target ${{ matrix.target }} -p ${{ matrix.crate }} --release
  build-nitro:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build tmkms-nitro-enclave with docker
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          file: Dockerfile.nitro
          build-args: |
            RUST_TOOLCHAIN=1.50.0
  run-integration-tests:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v1
      - uses: cachix/install-nix-action@v12
      - uses: cachix/cachix-action@v8
        with:
          name: crypto-com
          skipPush: true
      - uses: actions/download-artifact@v2
        with:
          name: tmkms-softsign
          path: integration-test
      - run: cd integration-test && tar -xvf tmkms-softsign.tar && chmod +x tmkms-softsign && ./run.sh